<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if title is defined %}
        {{ title }}
      {% else %}
        My Blog
      {% endif %}
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/html.css">
    <link rel="stylesheet" href="/css/posts.css">
  </head>
  <body>
    <div class="content">
      <div class="inner-content">
        <h1>NAVBAR</h1>
      </div>
    </div>

    <div class="content">
      <div class="inner-content">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </body>
</html>
